<!-- WEEK 4B LAYOUT -->
<!-- file path: add103_2026/week_04/layout/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://googleapis.com">
    <link rel="preconnect" href="https://gstatic.com" crossorigin>
    <link href="https://googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/nali-favicon.ico" href="../../week_03/images/nali-favicon.ico">
    <title>Hobby Page</title>
    <link rel="stylesheet" href="../layout/style.css">
</head>
<body>

    <!-- header: top banner across page-->
    <header>
        <h1>Guitar Corner</h1>
    </header>

    <!-- main: content area -->
    <main>

        <!-- card 1 -->
        <div class="column-card">
            <!-- CARD TITLE MAKE SURE TO REPLACE!!!!!!!!!!!! -->
            <h2>Learning Classical Style</h2>
            <img src="../images/bachpic.jpeg" alt="Johann Sebastian Bach wearing sunglasses">
            <p>Started learning classical style guitar recently. I started lessons through school to get out of bad habits and learn new styles.
            </p>
            <span class="tooltip">HTML
                <span class="tooltiptext">HyperText Markup Language</span>
            </span>
        </div>
        <!-- end card 1 -->
        
        <!-- Card 2 -->
        <div class="column-card">
            <h2>Moving Forward</h2>
            <img src="../images/dogpic.png" alt="AI generated pic of dog playing guitar">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            </p>
        </div>
        <!-- end card 2 -->

    </main>
    <!-- end main content -->

    <!-- aside: side note separate from main -->
    <aside>
        <p>Currently Learning: "Romanza" by Unknown, and "Operator" by Jim Croce</p>
    </aside>
    
    <!-- end aside -->

    <!-- footer: bottom of page -->
    <footer>
        <a href="../../index.html">Back to Main Page</a>
    </footer>
    <!-- end footer -->

</body>
</html>